.logo {
  animation: logoSpin infinite 20s linear;
  height: 60px;
  fill: var(--text-color);
}

.header {
  background-color: var(--secondary) !important;
  color: var(--text-color) !important;
}

.title, .subtitle {
  color: var(--text-color) !important;
}

@keyframes logoSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
